{% extends 'food/base.html' %}


{% block content %}



<div class="container">
    <br>
    <br>
    <br>
    <div class="row">

      <div class="col-sm-6">
        <h4 style="text-align: center;">About Us!</h4>
        <br>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest.</p>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest.</p>
        <hr>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest.</p>
        <br>
        <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest.</p>
        <br>
      </div>


      <div class="col-sm-6" style="text-align: center;">

          <h4 style="text-align: center;">Contact Us</h4>
          <br>
          <br>
          <br>
          <a href="mailto:nowimkr@gmail.com@example.com">Email Us</a>
          <h4>Address : BTM, Bangalore</h4>


      </div>

    </div>
</div>
    
{% endblock content %}
    